# Node Modules and dependencies
node_modules/

# TypeScript build output
dist/
build/

# IDE and editor files/folders
.vscode/
*.code-workspace
*.idea/
*.swp
*.swo
*.sublime-*
*.DS_Store

# Debug logs and caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache/
